{% extends '../base.html' %}
{% load index %}
{% block content %}
<div>
    {% if user.is_authenticated %}
    Welcome {{ user.first_name}}
    <a href="{% url 'logout_view' %}">Logout</a>

    {% endif %}

</div>
List of Projects:
<div></div>
<ul>
    {% with i="0" %}
    {% for object in object_list%}

    <li> <a class="btn""" href="{% url 'project_detail_view' object.id %}"> {{object.name }} {{object.budget }}
            ({{funded_amounts|index:forloop.counter0}})</a></li>

    {% endfor %}
    {% endwith %}
    {{funded_amounts}}

</ul>

{% endblock %}